html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: url("../img/bg.svg");
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

h1 {
  margin-top: 150px;
  margin-left: 150px;
}

p {
  margin-left: 150px;
  width: 400px;
}

img {
  position: relative;
  left: 50vw;
  bottom: 20vh;
  width: 400px;
}
